<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdkASG-J_EnQxkpv2gfER-qgmpaoK4RLo</string>
	<key>GCM_SENDER_ID</key>
	<string>546635066871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-application-by-saa</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-application-by-saa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546635066871:ios:9a627c1393eb5dd29752f2</string>
</dict>
</plist>